@font-face {
    font-family: "PokemonGB";
    src: local("PokemonGB"), url("./fonts/PokemonGb-RAeo.ttf") format("truetype");
    font-weight: bold;
}

/* Default to the classic Pokemon Game Boy font for everything */
html * {
    font-family: PokemonGB;
}




.mainDisplay {
    width: 700px;
    margin: auto;
}


.terminalAndBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 3% 0 3% 0;
}

.terminal {
    border-style: double;
    border-right-style: none;
    border-width: 12px;
    border-radius: 10px 0px 0px 10px;
    height: 125px;
    padding: 1.5%;
    width: 50%;
    font-size: large;
    line-height: 1.5;
}

.actionBtnDisplay {
    border-style: double;
    border-width: 12px;
    border-radius: 10px;
    height: 125px;
    padding: 1.5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.refreshBtn {
    background-color: skyblue;
    border: solid;
    border-color: black;
    border-radius: 5px;
    color: black;
    text-align: center;
    width: 100%;
    height: 25%;
    cursor: pointer;
    margin: 5% 0 0 0;
}

.refreshBtn:hover {
    background-color: dodgerblue;
    color: white;
}

.gameOverBtn {
    margin: auto;
    background-color: skyblue;
    border: solid;
    border-color: black;
    border-radius: 5px;
    color: black;
    text-align: center;
    width: 75%;
    height: 75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.gameOverBtn:hover {
    background-color: dodgerblue;
    color: white;
}








.pokemonSelector {
    font-size: large;
    display: inline-block;
    margin: 15% 0 15% 0;
}

.pokemonSelectionDropdown {
    font-size: medium;
    height: 40px;
    width: 250px;
    border-color: black;
    border-radius: 5px;
}

.pokemonSelectionDropdown:hover {
    border-width: 3px;
    border-color: dodgerblue;
}

.pokemonSelectionBtn {
    margin: 0px 10px 0px 10px;
    font-size: medium;
    height: 40px;
    background-color: skyblue;
    border: solid;
    border-color: black;
    border-radius: 5px;
}

.pokemonSelectionBtn:hover {
    background-color: dodgerblue;
    color: white;
}








.attackBtn {
    background-color: transparent;
    border: none;
    color: black;
    text-align: left;
    padding: 1% 0 0 5%;
    width: 100%;
    cursor: pointer;
    /* transition: all 0.5s; */

    display: inline-block;
    position: relative;

}

.attackBtn:before {
    content: ' ► ';
    position: absolute;
    opacity: 0;
    left: -1%;
    /*transition: 0.5s;*/
}

.attackBtn:hover {
    /*padding-right: 24px;*/
    padding-left: 20px;
}

.attackBtn:hover:before {
    opacity: 1;
    /*right: 10px;*/
}

.hpMeter {
    width: 250px;
    height: 30px;
}











.pokemonDisplay {
    display: flex;
    flex-direction: row;
}

.pokemonDisplay-opponent {
    justify-content: flex-end;
    margin: 0 -10% 0 0;
}

.pokemonDisplay-player {
    justify-content: flex-start;
    margin: 0 0 0 -10%;
}

.pokemonImage {

}

.pokemonImage-opponent {

}

.pokemonImage-player {
    /*float: left;*/
    transform: scaleX(-1);
}

.pokemonDataDisplay {
    font-size: large;
    width: 255px;
    height: 130px;
    margin: 125px 0 0 0;
}

.pokemonDataDisplay-opponent {
    /*float: left;*/
}

.pokemonDataDisplay-player {
    /*padding-left: 30px*/;

}

.loadingPlaceholder {
    height: 250px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}







/* Offensive & Defensive Animations */

.pokemonDamagedAnimation {
    animation: damage-shaking 0.35s 6;
}

.pokemonAttackAnimation {
    animation: attack-step 0.75s 1;
}

@keyframes attack-step {
    0% {transform: translateX(0)}
    33% {transform: translateX(-20px)}
    66% {transform: translateX(20px)}
    100% {transform: translateX(0)}
}

@keyframes damage-shaking {
    0% {transform: translateX(0)}
    25% {transform: translateX(5px)}
    50% {transform: translateX(-5px)}
    75% {transform: translateX(5px)}
    100% {transform: translateX(0)}
}